body,
html {
    height: 100%;
}

.background {
    background-image: url(_imagens/raw_wall.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    opacity: 0.2;
    position: relative;
    z-index: -10;
}

#logo_raw {
    max-width: 100%;
    width: 100%;
    position: absolute;
    height: 100px;
    /*margin-top: -100vh;    */
     
}

#logo_raw img {
    height: inherit;
    margin-top: -15px;
/*    height: 70px;
    position: relative;
     
    */
}

#logo_raw:hover {
    height: 150px;
    transition: 0.5s; 
}
